@import "breakpoints";

.ross_article {
  margin-bottom: 20px;

  p {
    margin: 0 0 10px;
    line-height: 1.5em;
  }

  p img {
    display: block;
    margin: 10px auto 10px;
  }

  a {
    color: #992e0a;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #992e0a;
    }
  }

  @media all and (min-width: $breakpoint-small) {
    p {
      margin-left: 2.5%;
    }

    p img {
      float: left;
      margin: 10px 20px 3px -2.5%;
    }
  }
}

.ross_article__header {
  margin-bottom: 8px;

  h2 {
    font-family: "Existence-Light", Helvetica, Arial, sans-serif;
    font-size: 1.692307692em; /* 22/13 */
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    color: #c73b0b;
    border-bottom: 1px solid #c73b0b;
  }

  @media all and (min-width: $breakpoint-small) {
    h2 {
      font-size: 2.307692308em; /* 22/13 */
    }
  }
}
