.ross_header-main {
  width: 100%;
  position: static;
  margin: 0 auto 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ross_header-main__h1 {
  /*70 / 13 */
  font-size: 3.076923077em;
  line-height: 1em;
  color: #000;
  font-weight: normal;
  font-family: var(--font-code-light), Helvetica, Arial, sans-serif;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0.2em;
  margin-top: 10px;
}

.ross_header__logos {
  display: flex;
  justify-content: flex-end;
}

.ross_header__logos > *+* {
  margin-left: 8px;
}

.ross_header__logo {
  display: block;
  width: 24px;
  height: 24px;
}

.ross_header__logo>img {
  height: auto;
}

@media all and (min-width: 480px) {
  .ross_header-main__h1 {
    /*70 / 13 */
    font-size: 3.846153846em;
    margin-top: 25px;
  }
}

@media all and (min-width: 1200px) {
  .ross_header-main {
    width: 407px;
    display: block;
    position: fixed;
    right: 2%;
  }

  .ross_header-main__h1 {
    text-align: right;
    font-size: 6.153846154em;
    margin-top: 0.67em;
  }

  .ross_header__logo {
    width: 32px;
    height: 32px;
  }

}