@import "breakpoints";

.ross_article--about {
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px;
  padding-bottom: 10px;

  @media all and (min-width: $breakpoint-small) {
    p {
      margin-left: 0;
    }
  }
}
