@import "breakpoints";

// /* Icons */
@font-face {
  font-family: "slick";
  src: url($fontPath + "slick.eot");
  src: url($fontPath + "slick.eot?#iefix") format("embedded-opentype"),
      url($fontPath + "slick.woff") format("woff"),
      url($fontPath + "slick.ttf") format("truetype"),
      url($fontPath + "slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

.slick {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 100;

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }

  &:hover:before,
  &:focus:before,
  &:hover:before,
  &:focus:before {
    opacity: 1;
  }

  &.slick-disabled:before {
    opacity: 0.25;
  }

  &:before {
    font-family: "slick";
    font-size: 30px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 6px rgba(0,0,0,.3);
  }

  @media all and (min-width: $breakpoint-medium) {
    height: 60px;
    width: 60px;

    &:before {
      font-size: 50px;
    }
  }
}

.slick-prev {
  left: 5px;

  &:before {
    content: "\2190";
  }

  @media all and (min-width: $breakpoint-medium) {
    left: 10px;
  }
}
.slick-next {
  right: 5px;

  &:before {
    content: "\2192";
  }

  @media all and (min-width: $breakpoint-medium) {
    right: 10px;
  }
}

.slick-track {
  width: 200vw;
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}
